*{
    margin: 0;
    padding: 0;
}

body{
    

  background-image: linear-gradient(rgb(65, 61, 61),rgb(28, 24, 27),rgb(26, 21, 37),rgb(43, 43, 43));
    background-repeat: no-repeat;
    /* background-image: url(./image/raingif1.gif); */
    background-size: cover ;
    background-position-x: center ;
    background-size: cover;
    height: 100vh;                                          
    width: 100vw;   

  
} 

.main{
    height: 60vh;
    width: 50vh;
    /* background-color:palegoldenrod; */
    margin: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:0px 3px 15px rgba(rgb(219, 84, 84,0.5), rgb(33, 167, 33,0.5), rgb(31, 31, 143,0.5)); ;
    
}

.container{
    /* width: 100px; */
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 8rem;
    position: fixed;
    
}

.name{
    padding: 10rem;
    /* color: #161721; */
    color: white;
    text-align: center;
}

#inputvalue{
    width:99%;
    height: 12%;
    text-align: right;
    background-color: transparent;
    padding: 2px;
    color: rgb(255, 255, 255);
    border:none;
    font-size: xx-large;
    margin: 1% auto;
}

.first_row ,.second_row ,.third_row ,.forth_row ,.fivth_row{

    display: flex;
    justify-content: space-around;
    /* display: block; */
    row-gap: 12px;
    margin-top: 1rem;
    /* column-gap: 20px; */
}

.btn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    color: white;
     box-shadow: 0px 3px 15px rgba(rgb(219, 84, 84,0.5), rgb(33, 167, 33,0.5), rgb(31, 31, 143,0.5)); 
    /* box-shadow: inset; */
}


#ac, #del,#equal{
    background-color: rgb(235, 171, 59);
    box-shadow: 0px 3px 15px rgba(rgb(219, 84, 84), rgb(33, 167, 33), rgb(31, 31, 143), 1.5); 

}

.btn:hover{
    /* cursor: pointer; */
    background-color: rgb(235, 171, 59);
}